.form-container h1{
    background-color:wheat;
    border-radius: 16px;
    box-shadow: 8px 8px;
    margin-right: 8px;
}

#edit-form {
    display: flex;
    flex-direction: column;
}

#edit-form textarea , input, h1 {
    padding: 8px 16px ;
}

#edit-form textarea {
    min-height: 400px;
    /* height: full; */

}

#edit-title {
    font-size: 32px;
    font-weight: 600;
}

#edit-form div  {
    padding: 8px 16px;
}

.note__save {
    border-width: 2px;
    border-radius: 24px;
    border-color: solid black;
    font-weight: bold;
    background-color: var(--primary-color);
    color: white;
    padding: 8px 24px;
}

.note__cancel {
  border-width: 2px;
  border-radius: 24px;
  border-color: solid black;
  padding: 8px 16px;
  font-weight: bold;
  background: none;
}