.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    background-color: #fca5a5;
    text-align: center;
    width: 100%;
}

.footer__text{
    background-color: #fca5a5;
}