.header-container{
    display: flex;
    padding: 0px 16px;
    height: 60px;
    background-color: #fca5a5;
    align-items: center;
    
}
.header__text {
    margin-left: 8px;
    font-weight: bold;
}
.header__logo{
    height: 40px;
    width: 40px;
    background-color: gray;
}